<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>
	<appSettings>
		<add key="Conn" value="server=.;Database=Diagnosis;User ID=sa;Password=kfbio;Trusted_Connection=False" />
		<add key="Ver" value="1.0.1" />
		<add key="Sms" value="1" />
		<add key="IsPublisher" value="1" />
		<add key="VersionHn" value="0" />
		<add key="UserName" value="jianggc" />
		<add key="PassWord" value="4cb5576389e154e5b5ce661bd58ac84f" />
		<!--HN短信模板-->
		<add key="HnCenter" value="{0}老师，您好！{1}上传了一份病理号为{2}的病例。请通过河南省远程医学中心官网(htcc.org.cn)中的病理诊断登录数字病理远程诊断平台。对该病例进行分诊。感谢您的使用！" />
		<add key="HnMessage" value="{0}老师，您好！现有一份{1}上传的病理号为{2}的病例由远程医学中心分配给您。请通过河南省远程医学中心官网(htcc.org.cn)中的病理诊断登录数字病理远程诊断平台。对该病例进行诊断。感谢您的使用！" />
		<add key="HnFrozen" value="【冰冻预约】{0}老师，您好！{1}将于{2}~{3}上传一份冰冻病例，河南省远程医学中心已经病例分配给您。请在预定时间，通过河南省远程医学中心官网(htcc.org.cn)中的病理诊断登录数字病理远程诊断平台。对该病例进行诊断。感谢您的使用！" />
		<add key="HnHisFrozen" value="【冰冻预约】您好！河南省远程医学中心已经病例分配给{0}老师，请于约定时间{1}~{2}通过河南省远程医学中心官网(htcc.org.cn)中的病理诊断登录数字病理远程诊断平台上传冰冻病例。感谢您的使用！" />
		<add key="HnExpFrozen" value="【冰冻预约】{0}老师，您好！您有一份来自{1}的冰冻预约申请，预约时间为{2},手术部位{3},联系电话为{4},请通过河南省远程医学中心官网(htcc.org.cn)中的病理诊断登录数字病理远程诊断平台确认该病例。感谢您的使用！" />
		<add key="HnExpFrozen" value="【冰冻预约】{0}老师，您好！您有一份来自{1}的冰冻预约申请，预约时间为{2},手术部位{3},联系电话为{4},请于预约时间通过河南省远程医学中心官网(htcc.org.cn)中的病理诊断登录数字病理远程诊断平台查看该病例。感谢您的使用！" />
		<add key="HnDiagnosis" value="{0}，您好！您提交的病理号为{1}的病例已由{2}专家进行诊断，并生成了病理诊断报告，请通过河南省远程医学中心官网（htcc.org.cn）中的病理诊断登录数字病例远程诊断平台，在已完成诊断列表中查看病理报告。感谢您的使用" />
		<add key="HnFrozen2" value="【冰冻预约】{0}老师，您好！{1}已经上传一份冰冻病例，请您通过河南省远程医学中心官网(htcc.org.cn)中的病理诊断登录数字病理远程诊断平台。立即对该病例进行诊断。感谢您的使用！" />
		<add key="OverTime" value="【超时通知】{0}老师，您好！由河南省远程医学中心分配给您病理号为{1}的病例，已经超过一天未诊断，请及时诊断。感谢您的使用！" />
		<add key="OverTime2" value="【超时通知】{0}老师，您好！由河南省远程医学中心分配给您病理号为{1}的病例，已经超过二天未诊断，请及时诊断。感谢您的使用！" />
		<add key="ReturnHis" value="【退回通知】{0}，您好！病理号为{1}的病例已被专家退回。请您通过河南省远程医学中心官网(htcc.org.cn)中的病理诊断登录数字病理远程诊断平台查看退回原因，感谢您的使用！" />
		<add key="ReturnCenter" value="【退回通知】{0}老师，您好！病理号为{1}的病例已被专家退回。请您通过河南省远程医学中心官网(htcc.org.cn)中的病理诊断登录数字病理远程诊断平台查看退回原因，感谢您的使用！" />
		<!--短信模板-->
		<add key="Message" value="【江丰生物】诊断通知：尊敬的{0}老师，您有一例来自{1}的会诊，病理号{2}。" />
		<add key="MessageFrozen" value="【江丰生物】预约通知：尊敬的{0}老师，您有一例来自{3}的冰冻预约申请，预约时间为{4}，手术部位为{1}，联系电话为{2}。" />
		<add key="CheckMessageFrozen" value="【江丰生物】预约通知：您好，{0}，{1}已经确认一例冰冻预约。" />
		<add key="PpyMessage" value="【江丰生物】分配通知：尊敬的{0}老师，有一例来自{1}的会诊需要分配，病理号为{2}。" />
		<add key="FbyMessage" value="【江丰生物】发布通知：尊敬的{0}老师，{1}已经签发一例病例，病理号为{2}，需要发布。" />
		<add key="ReportMessage" value="【江丰生物】发布通知：您好，{0}，{1}已经签发且发布一例病例，病理号为{2}。" />
		<add key="PpyReportMessage" value="【江丰生物】复核通知：您好，{0}，{1}已经诊断一例病例，需要您进行复核，病理号为{2}。" />
		<add key="PpyReportRMessage" value="【江丰生物】退回通知：您好，{0}，有一例复核病例被退回，病理号为{1}}。" />
		<add key="ChangeMessage" value="【江丰生物】转诊通知：尊敬的{0}老师，有一例来自{1}的会诊需要分配，病理号为{2}。" />
		<add key="ReturnMessage" value="【江丰生物】退回通知：您好，{0}，{1}退回一例病例，病理号为{2}。" />
		<add key="CenterMessage" value="【江丰生物】抄送通知：有一例来自{0}的会诊，病理号为{1}。" />
		<add key="CenterMessageFrozen" value="【江丰生物】抄送通知：有一例来自{2}的冰冻预约申请，预约时间为{3}，手术部位为{0}，联系电话为{1}。" />
		<add key="PpyReportMessage" value="【江丰生物】复核通知：您好，{0}，{1}已经诊断一例病例，需要您进行复核，病理号为{2}。" />
		<add key="PpyReportRMessage" value="【江丰生物】退回通知：您好，{0}，有一例复核病例被退回，病理号为{1}}。" />

		<!--HD短信模版-->
		<add key="HDCheckFrozen" value="【江丰生物】{0}，冰冻预约（{1}，{2}），已分配会诊专家：{3}。"/>
		<add key="FrozenReutrn" value="【江丰生物】{0}冰冻预约（{1}，{2}），请尽快登录系统进行病例分配！"/>
		<add key="FrozenReutrn" value="【江丰生物】{0}冰冻预约（{1}，{2}），请尽快登录系统进行病例分配！"/>
		<add key="HDFrozenCenter" value="【江丰生物】{0}冰冻预约（{1}，{2}），已分配会诊专家：{3}。"/>
		<add key="HDReportCenter" value="【江丰生物】{0}冰冻会诊（{1}，{2}），报告已发布！"/>
		<add key="HDExp" value="【江丰生物】尊敬的{0}老师：您已接受{1}冰冻预约（{2}，{3}），请准时参与会诊，谢谢！"/>
		<add key="HDHisExp" value="【江丰生物】尊敬的{0}老师：{1}冰冻预约（{2}，{3}），病理科电话{4}。请登录系统确认，谢谢！"/>
		<add key="HDHisCenter" value="【江丰生物】有一例来自{0}冰冻预约（{1}，{2}）。"/>
		<add key="HDYYCenterToHis" value="【江丰生物】{0}，您有一例冰冻预约（{1}，{2}），被退回，请尽快登录系统查看。"/>
		<add key="HDYYCenterToHisCC" value="【江丰生物】{0}冰冻预约（{1}，{2}）已被分配员退回。"/>
		<add key="HDReportMessage" value="【江丰生物】发布通知：您好，{0}，{1}已经签发且发布一例病例，病理号为{2}。" />

		<add key="Sms" value="0" />
		<add key="SmsFpy" value="0" />
		<add key="SmsFrozen" value="0" />
		<add key="SmsCenter" value="0" />

		<add key="offsetUnit" value="dd"/>
		<add key="offset" value="2"/>

		<!--0关闭，1开启-->
		<add key="HDRecheck" value="0" />
	</appSettings>
	<connectionStrings>
		<add name="mobileConnString" connectionString="Server=.;Database=Diagnosis;User ID=sa;Password=kfbio;Trusted_Connection=False" />
	</connectionStrings>
	<system.webServer>


		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" />
				<add name="Access-Control-Allow-Headers" value="Content-Type" />
				<add name="Access-Control-Allow-Methods" value="GET, POST,PUT, DELETE, OPTIONS" />
			</customHeaders>
		</httpProtocol>

		<modules runAllManagedModulesForAllRequests="true">
			<add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		</modules>
        <directoryBrowse enabled="true" />
	</system.webServer>

	<system.serviceModel>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
		<standardEndpoints>
			<webHttpEndpoint>
				<!-- 
            Configure the WCF REST service base address via the global.asax.cs file and the default endpoint 
            via the attributes on the <standardEndpoint> element below
        -->
				<standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="true" />
			</webHttpEndpoint>
		</standardEndpoints>
	</system.serviceModel>

</configuration>
